.header
  .headerContents
    .headerMain
      = link_to  '/items'do
        %h1.icon
      = form_with(url: item_searches_path, local: true, method: :get, class: "search-form") do |form|
        = form.text_field :keyword, placeholder: "キーワードから探す", class: "search-input"
        = form.submit "検索", class: "search-btn"
        
    .navi
      .navi__left-item
        %ul.navi__left-item__category
          %li.categoryBtn
            カテゴリー
            %ul.navi__left-item__category__parents
              %li.navi__left-item__category__parent
                = link_to "レディース", category_path(id: 1)
                %ul.navi__left-item__category__children
                  = render partial: "categories/header_child", collection: @category_children1, as: "category"
              %li.navi__left-item__category__parent
                = link_to "メンズ", category_path(id: 200)
                %ul.navi__left-item__category__children
                  = render partial: "categories/header_child", collection: @category_children200, as: "category"
              %li.navi__left-item__category__parent
                = link_to "キッズ", category_path(id: 345)
                %ul.navi__left-item__category__children
                  = render partial: "categories/header_child", collection: @category_children345, as: "category"
              %li.navi__left-item__category__parent
                = link_to "インテリア・住まい・小物", category_path(id: 477)
                %ul.navi__left-item__category__children
                  = render partial: "categories/header_child", collection: @category_children477, as: "category"
              %li.navi__left-item__category__parent
                = link_to "本・映画・ゲーム", category_path(id: 618)
                %ul.navi__left-item__category__children
                  = render partial: "categories/header_child", collection: @category_children618, as: "category"
              %li.navi__left-item__category__parent
                = link_to "おもちゃ・ホビー・グッズ", category_path(id: 677)
                %ul.navi__left-item__category__children
                  = render partial: "categories/header_child", collection: @category_children677, as: "category"
              %li.navi__left-item__category__parent
                = link_to "コスメ・香水・美容", category_path(id: 790)
                %ul.navi__left-item__category__children
                  = render partial: "categories/header_child", collection: @category_children790, as: "category"
              %li.navi__left-item__category__parent
                = link_to "家電・スマホ・カメラ", category_path(id: 890)
                %ul.navi__left-item__category__children
                  = render partial: "categories/header_child", collection: @category_children890, as: "category"
              %li.navi__left-item__category__parent
                = link_to "スポーツ・レジャー", category_path(id: 975)
                %ul.navi__left-item__category__children
                  = render partial: "categories/header_child", collection: @category_children975, as: "category"
              %li.navi__left-item__category__parent
                = link_to "ハンドメイド", category_path(id: 1084)
                %ul.navi__left-item__category__children
                  = render partial: "categories/header_child", collection: @category_children1084, as: "category"
              %li.navi__left-item__category__parent
                = link_to "チケット", category_path(id: 1135)
                %ul.navi__left-item__category__children
                  = render partial: "categories/header_child", collection: @category_children1135, as: "category"
              %li.navi__left-item__category__parent
                = link_to "自動車・オートバイ", category_path(id: 1194)
                %ul.navi__left-item__category__children
                  = render partial: "categories/header_child", collection: @category_children1194, as: "category"
              %li.navi__left-item__category__parent
                = link_to "その他", category_path(id: 1257)
                %ul.navi__left-item__category__children
                  = render partial: "categories/header_child", collection: @category_children1257, as: "category"
          %li.navi__left-item__brand
            = link_to "ブランド", "#", class: "brandBtn"
      %ul.navi__right-item
        - if user_signed_in? 
          %li.navi__right-item__login
            = link_to "ログアウト", destroy_user_session_path,  method: :delete, class: "loginBtn" 
          %li.navi__right-item__new
            = link_to "マイページ", user_index_path, class: "newBtn" 
        - else
          %li.navi__right-item__login
            = link_to "ログイン", new_user_session_path, class: "loginBtn" 
          %li.navi__right-item__new
            = link_to "新規会員登録", signups_path, class: "newBtn" 
