.user-main__left
  %nav.my-nav
    %ul.my-nav__list
      %li.my-nav__list__mypage
        = link_to "マイページ", user_index_path, class: "newBtn"
        %i.fas.fa-angle-right
      %li.my-nav__list__part 
        = link_to "いいね！一覧", right_like_user_index_path,class: "newBtn"
        %i.fas.fa-angle-right
      %li.my-nav__list__part 
        = link_to "出品する", "#"
        %i.fas.fa-angle-right
      %li.my-nav__list__part 
        = link_to "出品した商品ー出品中", right_sell_user_index_path,class: "newBtn"
        %i.fas.fa-angle-right
      %li.my-nav__list__part 
        = link_to "出品した商品ー取引中", right_sell_user_index_path,class: "newBtn"
        %i.fas.fa-angle-right
      %li.my-nav__list__part 
        = link_to "出品した商品ー売却済", right_sell_user_index_path,class: "newBtn"
        %i.fas.fa-angle-right
      %li.my-nav__list__part 
        = link_to "購入した商品ー取引中", right_buy_user_index_path,class: "newBtn"
        %i.fas.fa-angle-right
      %li.my-nav__list__part 
        = link_to "購入した商品ー過去の取引", right_buy_user_index_path,class: "newBtn"
        %i.fas.fa-angle-right
    %h3.my-nav__list__title  設定
    %ul.my-nav__list
      %li.my-nav__list__part
        = link_to "プロフィール", "#"
        %i.fas.fa-angle-right
      %li.my-nav__list__part
        =link_to "クレジット", right_card_user_index_path,class: "newBtn"
        %i.fas.fa-angle-right
      %li.my-nav__list__part 
        =link_to "ログアウト", right_logout_user_index_path,class: "newBtn"
        %i.fas.fa-angle-right
