.wrapperBuy
  = render "items/subHeader"
  .bodyBuy
    .buyItemContent
      %h2 購入内容の確認
      .buyItemTop
        .topInner
          .topBox
            .image
              = image_tag @item.images[0].src.url, height: "80px", width: "80px"
            .text
              %p.itemTitle
                = @item.title
              %p.itemPrice
                %span
                  =  "¥#{@item.price}"
                %span.fee
                  =  "#{@item.fee.name}"
      .buyItemBottom
        .bottomInner
          .bottomBox
            .priceBox
              %ul
                %li.priceTitle 支払い金額
                %li.price
                  =  "¥#{@item.price}"
              %ul.point
                = form_with(url: "#", local: true, method: :get, class: "checkBox") do |form|
                  = form.submit name: "check", type: "checkbox", class:"pointBox"
                %p ポイントを使用（所持ポイント: P0）
            .pay
              .payBox
                .payTitle
                  %h3 支払い方法
                  = link_to "変更する", "#", class: "changeBtn"
                .payInfo
                  クレジットカード<br>
                  = "**** **** **** " + @default_card_information.last4
                  <br>
                  - exp_month = @default_card_information.exp_month.to_s
                  - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                  = "有効期限 " + exp_month + " / " + exp_year
                  .payIcon
            .userAddress
              .addressInner
                .addressTitle
                  %h3 配送先
                  = link_to "変更する", "#", class: "changeBtn"
                .addressInfo
                  = "〒#{@current_user.address.zip_code}"
                  <br>
                  = "#{@current_user.address.prefecture.name}"
                  = "#{@current_user.address.city}"
                  = "#{@current_user.address.street}"
                  <br>
                  = "#{@current_user.firstname}"
                  = "#{@current_user.lastname}"

            = form_with method: :post, url: pay_item_path(@item), local: true do |f|
              = f.submit '購入する', class: "buyBtn"
  = render "items/subFooter"