.wrapperItems
  = render "header"
  .bodyItems
    .itemInfo
      .name
        = @item.title
      .mainContent
        .imageContent
          .image
            %img.bigImage
            = image_tag @item.images[0].src.url, height: "346px", width: "560px", class: "bigImage-first", id: "mainphoto"
            %ul.smallImage
              - @item.images.each do |item_image|
                =image_tag item_image.src.url, height: "87px", width: "25%", class: "image01"
        .priceBox
          %span.price 
            =  "¥#{@item.price}"
          %span.tax> （税込）#{@item.fee.name}
          - if user_signed_in?
            - if current_user.id == @item.seller_id
              = link_to "編集画面にすすむ", edit_item_path, class: "buyBtn"
              = link_to "削除する", "#", class: "delete-Btn"
            - else
              - if @item.buyer_id.present?
                .soldout
                売り切れました
              - else
                -if @card.present?
                  = link_to "購入画面にすすむ", "paycheck_item_path", class: "buyBtn"
                - else
                  = link_to "支払い情報を登録してください", "card_path", class: "buyBtn"
          - else
            = link_to "ログインしてください", "#", class: "buyBtn"   
        
        .text
          = @item.text
        .detail
          .detailTable
            .table
              %ul.seller
                %li.title 出品者
                %li.info
                  = link_to "#{@seller_id.nickname}", "#", class: "sellerName"
              %ul.category
                %li.title
                  %p  カテゴリー
                %li.info
                  = link_to "#{@category.root.name}", "#", class: "topCategory"
                  <br>
                  = link_to "＞#{@category.parent.name}", "#", class: "middleCategory"
                  <br>
                  = link_to "＞#{@category.name}", "#", class: "bottomCategory"
              %ul.brand
                %li.title ブランド
                %li.info
                  = link_to "#{@item.brand}", "#", class: "brandName"
              %ul.condition
                %li.title 商品の状態
                %li.info #{@item.condition.name}
              %ul.charge
                %li.title 配送料の負担
                %li.info #{@item.fee.name}
              %ul.method
                %li.title 配送料の方法
                %li.info 未定
              %ul.area
                %li.title 配送元地域
                %li.info 
                  = link_to "#{@item.prefecture.name}", "#", class: "prefecture"
              %ul.day
                %li.title 発送日の目安
                %li.info #{@item.deliveryday.name}
        .other
          .left
            = link_to "#", class: "btn" do
              = icon('fa', 'star', class: 'likeBtn')
              お気に入り 0
          .right
            = link_to "#",class: "btn" do
              = icon('fa', 'flag', class: 'flagBtn')
              不適切な商品の通報

    .itemMessage
      .messageBox
        .messageContent
          = form_with(url: "#", local: true, method: :get, class: "send-form") do |form|
            = form.text_area :comment, type: "text", class: "text"
            %p 相手のことを考え丁寧なコメントを心がけましょう。<br>不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = button_tag type: "submit", class: "btn" do
              = icon('fa', 'comment', class: 'messageBtn') 
              コメントする
    .itemNavi
      .prev
        = link_to "#" do
          %i ＜
          前の商品
      .next
        = link_to "#" do
          後ろの商品
          %i ＞
    .categoryItems
      = link_to "ベビー・キッズをもっと見る", "#", class: "categoryBtn"
  = render "footer"
  = link_to new_item_path, class:"purchaseBtn" do
    %span> 出品する
    .img